<div class="all">
  <!-- 头部head开始 -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-lg-12 head">
        <img src="assets/img/jieban/temp.jpeg" alt="">
        <div class="head_txt">
            {{together.title}}------
        </div>
      </div>
    </div>
  </div>
  <!-- 头部head结束 -->
  <div class="container">
    <div class="row">
      <!-- 左侧 -->
      <div class="col-xs-8 col-lg-8">
        <!-- title开始 -->
        <div class="left_title">
            {{together.title}}
        </div>
        <div class="left_title_detail">
          <p>出发地：{{together.toCity}}</p>
          <p>出发时间：{{together.startDate}}</p>
          <p>目的地：{{together.fromCity}}</p>
          <p>大约：{{together.lastDays}}天</p>
          <p>希望人数：{{together.limitNum}}人</p>
          <p>发布人：
            <img src="tournote/img/{{together.userImgUrl}}" >
            <span style="color:#fc7200">{{together.nikeName}}</span>
          </p>
        </div>
        <!-- title结束 -->
        <!-- middle开始 -->
        <div class="left_middle">
          结伴描述
        </div>
        <div class="left_middle_detail">
          <p>
            {{together.intro}}
          </p>
        </div>
        <!-- middle结束 -->
        <!-- bottom开始 -->
        <div class="left_bottom">
          我要报名1
        </div>
        <!-- 报名表单开始 -->
        <div class="row">
          <form class="form-horizontal">
            <!-- 结伴人数 -->
              <div class="form-group">
                <label for="companycount" class="col-sm-2 col-lg-2 control-label">
                  结伴人数
                </label>
                <div class="col-sm-10  col-lg-10">
                  <input type="text" class="form-control" id="companycount" name="number" [(ngModel)]="number">
                </div>
              </div>
              <!-- 联系电话 -->
              <div class="form-group">
                  <label for="tel" class="col-sm-2 col-lg-2 control-label">
                      联系电话
                  </label>
                  <div class="col-sm-10  col-lg-10">
                    <input type="text" class="form-control" id="tel" name="tel" [(ngModel)]="tel">
                  </div>
              </div>
              <!-- 同行人数 -->
              <div class="form-group">
                  <label class="col-sm-2 col-lg-2 control-label">
                      同行人数
                  </label>
                  <div class="col-sm-10  col-lg-10">
                    <div class="row">
                      <div class="col-sm-6 col-lg-6">
                        <input type="text" class="form-control" id="male" name="male" [(ngModel)]="male">&nbsp;&nbsp;男/人
                      </div>
                      <div class="col-sm-6 col-lg-6">
                          <input type="text" class="form-control" id="female" name="female" [(ngModel)]="female">&nbsp;&nbsp;女/人
                      </div>
                    </div>
                  </div>
              </div>
              <!-- 按钮 -->
              <div class="form-group">
                <div class="col-sm-2 col-lg-2">

                </div>
                <div class="form-control bottom_btn col-sm-10  col-lg-10" (click)="doapply()">
                  报名
                </div>
              </div>

          </form>
        </div>
        
        <!-- 报名表单结束 -->
        
        <!-- bottom结束 -->      
      </div>
      <!-- 右侧 -->
      <div class="col-xs-4 col-lg-4">
        <!-- 右侧报名人数 -->
        <div class="right_count">
          <span style="color:#ff8a00">{{count}}</span>人报名
        </div>
        <!-- 右侧报名用户 -->
         
       
         <div class="row right_user"> 
           <!-- 每一个报名用户开始 -->
           <div class="col-lg-3 col-xs-3 each" *ngFor="let item of join" >
              <div class="each_img"><img src="tournote/img/{{item.userImgUrl}}" ></div>
              <div class="each_author">{{item.nikeName}}</div>
           </div>   
           <!-- 每一个报名用户结束 -->
         </div>
          











      </div>

    </div>

  </div>
</div>