<div class="container-fluid header">
  <div class="row">
    <div class="col-lg-12 col-xs-12 head">
      <img src="{{imgUrl}}" >
        <div class="head_content"> 
          <input #file type="file" style="display:none" ng2FileSelect [uploader]="uploader" (change)="selectFile($event)">
          <img src="assets/img/addtop.png" (click)="clickFile()">
          <p class="first">设置游记头图</p>
          <p class="second">图片建议选择尺寸大小1680px的高清大图，如相机原图</p>
        </div>
    </div>  
  </div>
</div>
<!-- 填写内容开始 -->
<div class="container detail">
  <div class="row">
    <form class="form-horizontal">
        <div class="form-group">
          <label for="title" class="col-sm-2 col-lg-2 control-label">
              <span style="color:red">*</span>游记标题
          </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="title" id="title" [(ngModel)]="tour.title">
          </div>
        </div>
        <div class="form-group">
          <label for="type" class="col-sm-2 control-label"> 
            <span style="color:red">*</span>游记分类
          </label>
          <div class="col-sm-4 col-lg-4">
            <select class="form-control" [(ngModel)]="tour.type" name="type">
                <option value="">请选择</option>
                <option value="旅游攻略">出游攻略</option>
                <option value="点点滴滴">点点滴滴</option>
                <option value="旅游行记">旅游行记</option>
                <option value="所见所闻">所见所闻</option>
              </select>
          </div>
        </div>
      </form>
      <!-- ueditor -->
      <div class="row">
        <div class="col-xs-11 col-sm-11 col-sm-offset-1 col-lg-11 ued">
            <ueditor [config]="cfg" #ue></ueditor>
        </div>
      </div>
      <button class="btn pull-right" style="background:#ff9d00;color:white;" (click)="getContent()">添加游记</button>
  </div>
</div>
<!-- 填写内容结束 -->
