<!-- 头部start -->
<div class="container-fluid"> 
  <div class="row">
    <div class="col-lg-12 col-xs-12 head">
      <img src="assets/img/topimg/index-topBg2.jpg">
      <div class="head_txt">
        <p class="first">
          一个想法从脑中闪过:来一场旅行吧！
        </p >
        <P class="second">旅途中我想与你为伴</P>
      </div>
    </div>
  </div>
</div>
<!-- 头部end -->
<!-- 中间部分start -->
<div class="container">
  <!-- 标题结伴热门地 -->
  <div class="row">
    <div class="col-xs-12 col-lg-12 middle_title">
      结伴热门地
    </div>
  </div>
  <!-- middle_content部分start -->
  <div class="row">
    <div class="col-xs-12 col-lg-12 middle_content">
      <div class="row">
        <!-- 每一个热门景点开始 -->
        <div class="col-xs-3 col-md-3 col-lg-3 each" >
           <img src="assets/img/destination/hotaddress1.jpeg">
           <div class="destination">
             <span class="destinationname">稻城</span>
             <div class="destination_detail">
                <span>发起&nbsp;197&nbsp;个结伴</span><br/>
                <span>2061&nbsp;人关注</span><br/>
                <span>440&nbsp;人报名</span>
             </div>
           </div>   
        </div>
        <!-- 每一热门个景点结束 -->
        <div class="col-xs-3 col-md-3 col-lg-3 each">
            <img src="assets/img/destination/hotaddress2.png">
            <div class="destination">
              <span class="destinationname">拉萨</span>
              <div class="destination_detail">
                 <span>发起&nbsp;197&nbsp;个结伴</span><br/>
                 <span>2061&nbsp;人关注</span><br/>
                 <span>440&nbsp;人报名</span>
              </div>
            </div>   
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3 each">
            <img src="assets/img/destination/hotaddress3.jpeg">
            <div class="destination">
              <span class="destinationname">青海湖</span>
              <div class="destination_detail">
                 <span>发起&nbsp;197&nbsp;个结伴</span><br/>
                 <span>2061&nbsp;人关注</span><br/>
                 <span>440&nbsp;人报名</span>
              </div>
            </div>   
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3 each">
            <img src="assets/img/destination/hotaddress4.jpeg">
            <div class="destination">
              <span class="destinationname">亚丁</span>
              <div class="destination_detail">
                 <span>发起&nbsp;197&nbsp;个结伴</span><br/>
                 <span>2061&nbsp;人关注</span><br/>
                 <span>440&nbsp;人报名</span>
              </div>
            </div>   
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3 each">
            <img src="assets/img/destination/hotaddress5.png">
            <div class="destination">
              <span class="destinationname">色达</span>
              <div class="destination_detail">
                 <span>发起&nbsp;197&nbsp;个结伴</span><br/>
                 <span>2061&nbsp;人关注</span><br/>
                 <span>440&nbsp;人报名</span>
              </div>
            </div>   
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3 each">
            <img src="assets/img/destination/hotaddress6.jpeg">
            <div class="destination">
              <span class="destinationname">额济纳旗</span>
              <div class="destination_detail">
                 <span>发起&nbsp;197&nbsp;个结伴</span><br/>
                 <span>2061&nbsp;人关注</span><br/>
                 <span>440&nbsp;人报名</span>
              </div>
            </div>   
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3 each">
            <img src="assets/img/destination/hotaddress7.png">
            <div class="destination">
              <span class="destinationname">西藏</span>
              <div class="destination_detail">
                 <span>发起&nbsp;197&nbsp;个结伴</span><br/>
                 <span>2061&nbsp;人关注</span><br/>
                 <span>440&nbsp;人报名</span>
              </div>
            </div>   
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3 each">
            <img src="assets/img/destination/hotaddress8.jpeg">
            <div class="destination">
              <span class="destinationname">敦煌</span>
              <div class="destination_detail">
                 <span>发起&nbsp;197&nbsp;个结伴</span><br/>
                 <span>2061&nbsp;人关注</span><br/>
                 <span>440&nbsp;人报名</span>
              </div>
            </div>   
        </div>
        <!-- 第八个景点结束   -->
      </div> 
    </div>
  </div>
  <!-- middle_content部分end -->
  <!-- 查询和发布结伴计划middle_bottom开始 -->
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 middle_bottom">
       <form>
          <input type="text" placeholder="目的的" name="destination">&nbsp;
          <input type="date" placeholder="出发时间" name="startdate">&nbsp;
          <button class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>查询
          </button>
          <div class="pull-right middle_add" (click)="toaddcompany()">
            <span class="glyphicon glyphicon-plus"></span>发布我的结伴计划
          </div>
       </form>
       
    </div>
  </div>
  <!-- 查询和发布结伴计划middle_bottom结束 --> 
</div>
<!-- 中间部分end  -->
<!-- bottom底部start -->
<div class="bottom">
  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 ">
          <div class="each_container ">
              <!-- 每一个计划start -->
              <div class="everyone" (click)="toCompanyDetail()">
                <!-- 顶部图片部分start -->
                <div class="everyone_img">
                  <img src="assets/img/destination/address (1).jpeg">
                  <div class="everyone_img_txt">
                    <span>12</span>天后
                  </div> 
                </div>
                <div class="line"></div>
                <!-- 顶部图片部分start -->
                <!-- 每一个的内容部分each_content开始 -->
                <div class="each_content">
                  <p class="first">曼谷</p>
                  <p class="second">我俩89年的，山东人，性格开朗，不矫情不墨迹，我们机票酒店...</p>
                  <div class="each_content_img">
                    <img src="assets/img/userImg/user01.jpeg">&nbsp;&nbsp;沧海一粟
                  </div>
                  <div class="each_content_bottom">
                    <div class="each_content_bottom_txt">已有<span>16</span>人加入</div>
                    <div class="each_content_bottom_img pull-right"></div>
                  </div>
                </div>
                <!-- 每一个的内容部分each_content结束 -->
              </div>
              <!-- 每一个计划end -->

              <div class="everyone">
                  <!-- 顶部图片部分start -->
                  <div class="everyone_img">
                    <img src="assets/img/destination/address (1).jpeg">
                    <div class="everyone_img_txt">
                      <span>12</span>天后
                    </div> 
                  </div>
                  <div class="line"></div>
                  <!-- 顶部图片部分start -->
                  <!-- 每一个的内容部分each_content开始 -->
                  <div class="each_content">
                    <p class="first">曼谷</p>
                    <p class="second">我俩89年的，山东人，性格开朗，不矫情不墨迹，我们机票酒店...</p>
                    <div class="each_content_img">
                      <img src="assets/img/userImg/user01.jpeg">&nbsp;&nbsp;沧海一粟
                    </div>
                    <div class="each_content_bottom">
                      <div class="each_content_bottom_txt">已有<span>16</span>人加入</div>
                      <div class="each_content_bottom_img pull-right"></div>
                    </div>
                  </div>
                  <!-- 每一个的内容部分each_content结束 -->
              </div>
              <div class="everyone">
                  <!-- 顶部图片部分start -->
                  <div class="everyone_img">
                    <img src="assets/img/destination/address (1).jpeg">
                    <div class="everyone_img_txt">
                      <span>12</span>天后
                    </div> 
                  </div>
                  <div class="line"></div>
                  <!-- 顶部图片部分start -->
                  <!-- 每一个的内容部分each_content开始 -->
                  <div class="each_content">
                    <p class="first">曼谷</p>
                    <p class="second">我俩89年的，山东人，性格开朗，不矫情不墨迹，我们机票酒店...</p>
                    <div class="each_content_img">
                      <img src="assets/img/userImg/user01.jpeg">&nbsp;&nbsp;沧海一粟
                    </div>
                    <div class="each_content_bottom">
                      <div class="each_content_bottom_txt">已有<span>16</span>人加入</div>
                      <div class="each_content_bottom_img pull-right"></div>
                    </div>
                  </div>
                  <!-- 每一个的内容部分each_content结束 -->
              </div>
              <div class="everyone">
                  <!-- 顶部图片部分start -->
                  <div class="everyone_img">
                    <img src="assets/img/destination/address (1).jpeg">
                    <div class="everyone_img_txt">
                      <span>12</span>天后
                    </div> 
                  </div>
                  <div class="line"></div>
                  <!-- 顶部图片部分start -->
                  <!-- 每一个的内容部分each_content开始 -->
                  <div class="each_content">
                    <p class="first">曼谷</p>
                    <p class="second">我俩89年的，山东人，性格开朗，不矫情不墨迹，我们机票酒店...</p>
                    <div class="each_content_img">
                      <img src="assets/img/userImg/user01.jpeg">&nbsp;&nbsp;沧海一粟
                    </div>
                    <div class="each_content_bottom">
                      <div class="each_content_bottom_txt">已有<span>16</span>人加入</div>
                      <div class="each_content_bottom_img pull-right"></div>
                    </div>
                  </div>
                  <!-- 每一个的内容部分each_content结束 -->
              </div>
              <div class="everyone">
                  <!-- 顶部图片部分start -->
                  <div class="everyone_img">
                    <img src="assets/img/destination/address (1).jpeg">
                    <div class="everyone_img_txt">
                      <span>12</span>天后
                    </div> 
                  </div>
                  <div class="line"></div>
                  <!-- 顶部图片部分start -->
                  <!-- 每一个的内容部分each_content开始 -->
                  <div class="each_content">
                    <p class="first">曼谷</p>
                    <p class="second">我俩89年的，山东人，性格开朗，不矫情不墨迹，我们机票酒店...</p>
                    <div class="each_content_img">
                      <img src="assets/img/userImg/user01.jpeg">&nbsp;&nbsp;沧海一粟
                    </div>
                    <div class="each_content_bottom">
                      <div class="each_content_bottom_txt">已有<span>16</span>人加入</div>
                      <div class="each_content_bottom_img pull-right"></div>
                    </div>
                  </div>
                  <!-- 每一个的内容部分each_content结束 -->
              </div>
              <div class="everyone">
                  <!-- 顶部图片部分start -->
                  <div class="everyone_img">
                    <img src="assets/img/destination/address (1).jpeg">
                    <div class="everyone_img_txt">
                      <span>12</span>天后
                    </div> 
                  </div>
                  <div class="line"></div>
                  <!-- 顶部图片部分start -->
                  <!-- 每一个的内容部分each_content开始 -->
                  <div class="each_content">
                    <p class="first">曼谷</p>
                    <p class="second">我俩89年的，山东人，性格开朗，不矫情不墨迹，我们机票酒店...</p>
                    <div class="each_content_img">
                      <img src="assets/img/userImg/user01.jpeg">&nbsp;&nbsp;沧海一粟
                    </div>
                    <div class="each_content_bottom">
                      <div class="each_content_bottom_txt">已有<span>16</span>人加入</div>
                      <div class="each_content_bottom_img pull-right"></div>
                    </div>
                  </div>
                  <!-- 每一个的内容部分each_content结束 -->
              </div>
              <div class="everyone">
                  <!-- 顶部图片部分start -->
                  <div class="everyone_img">
                    <img src="assets/img/destination/address (1).jpeg">
                    <div class="everyone_img_txt">
                      <span>12</span>天后
                    </div> 
                  </div>
                  <div class="line"></div>
                  <!-- 顶部图片部分start -->
                  <!-- 每一个的内容部分each_content开始 -->
                  <div class="each_content">
                    <p class="first">曼谷</p>
                    <p class="second">我俩89年的，山东人，性格开朗，不矫情不墨迹，我们机票酒店...</p>
                    <div class="each_content_img">
                      <img src="assets/img/userImg/user01.jpeg">&nbsp;&nbsp;沧海一粟
                    </div>
                    <div class="each_content_bottom">
                      <div class="each_content_bottom_txt">已有<span>16</span>人加入</div>
                      <div class="each_content_bottom_img pull-right"></div>
                    </div>
                  </div>
                  <!-- 每一个的内容部分each_content结束 -->
              </div>
              <div class="everyone">
                  <!-- 顶部图片部分start -->
                  <div class="everyone_img">
                    <img src="assets/img/destination/address (1).jpeg">
                    <div class="everyone_img_txt">
                      <span>12</span>天后
                    </div> 
                  </div>
                  <div class="line"></div>
                  <!-- 顶部图片部分start -->
                  <!-- 每一个的内容部分each_content开始 -->
                  <div class="each_content">
                    <p class="first">曼谷</p>
                    <p class="second">我俩89年的，山东人，性格开朗，不矫情不墨迹，我们机票酒店...</p>
                    <div class="each_content_img">
                      <img src="assets/img/userImg/user01.jpeg">&nbsp;&nbsp;沧海一粟
                    </div>
                    <div class="each_content_bottom">
                      <div class="each_content_bottom_txt">已有<span>16</span>人加入</div>
                      <div class="each_content_bottom_img pull-right"></div>
                    </div>
                  </div>
                  <!-- 每一个的内容部分each_content结束 -->
              </div>
              

          </div>
        </div>
      </div>
  </div>
</div>
<!-- bottom底部end -->


