<div class="container-fulid">
  <!-- 轮播图开始 -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "> 
      <div class="swiper-container ss">
          <div class="swiper-wrapper">
            <div class="swiper-slide da">
              <img src="assets/img/swiperImg/show01.jpeg" class="crasu" >
              <div class="da_content">
                <p>15/sep.2017</p>
                <p>台北| |我喜欢上你时的内心活动1</p>
              </div>
            </div> 
            <div class="swiper-slide da">
                <img src="assets/img/swiperImg/show02.jpeg" class="crasu" >
                <div class="da_content">
                  <p>15/sep.2017</p>
                  <p>台北| |我喜欢上你时的内心活动2</p>
                </div>
            </div>
            <div class="swiper-slide da">
                <img src="assets/img/swiperImg/show03.jpeg" class="crasu">
                <div class="da_content">
                  <p>15/sep.2017</p>
                  <p>台北| |我喜欢上你时的内心活动3</p>
                </div>
            </div>
            <div class="swiper-slide da">
                <img src="assets/img/swiperImg/show04.jpeg" class="crasu">
                <div class="da_content">
                  <p>15/sep.2017</p>
                  <p>台北| |我喜欢上你时的内心活动4</p>
                </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <!-- 轮播图结束 -->
  <!-- 内容部分 -->
  <div class="row content">
    <div class="container">
      <!-- 中间图片和按钮开始 -->
      <div class="row resident">
        <div class="col-lg-12 col-md-12">
            <img src="assets/img/resident-hd.png">
            <div class="addtour pull-right" (click)="toAddTour()">
              <span class="glyphicon glyphicon-edit"></span>&nbsp;写游记
            </div>
        </div>   
      </div>
      <!-- 中间图片和按钮结束 -->
      <!-- 具体细节开始 -->
      <div class="row">
        <!-- 每一个单独的开始 -->
        <div class="col-lg-6 col-md-6 col-xs-6 each" *ngFor="let tour of tours">
          <div class="row">
            <div class="col-lg-4 col-xs-4 each_left">
                <p class="type"><strong><strong>{{tour.type}}</strong></strong></p>
                <p class="publicdate">发布时间：{{tour.publishDate}}</p>
                <p class="author">作者</p>
                <img src="/tournote/img/{{tour.userImgUrl}}">
                <p class="fc">{{tour.nikeName}}</p>
            </div>
            <div class="col-lg-8 col-xs-8 each_right" [routerLink]="['/tourdetail',tour.tid]">
                <div>
                  <div class="each_right_img">
                     <img src="/tournote/img/{{tour.contentImg}}">
                  </div>
                  <div class="each_right_txt">
                    <p class="fc">{{tour.title}}</p>
                    <p>{{tour.content}}</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- 每一个单独的结束 -->
        <!-- <div class="col-lg-6 col-md-6 col-xs-6 each">
            <div class="row">
              <div class="col-lg-4 col-xs-4 each_left">
                  <p class="type"><strong><strong>出游攻略</strong></strong></p>
                  <p class="publicdate">发布时间：2017年9月16日</p>
                  <p class="author">作者</p>
                  <img src="assets/img/userImg/user01.jpeg">
                  <p class="fc">暖暖的旅行</p>
              </div>
              <div class="col-lg-8 col-xs-8 each_right">
                  <div>
                    <img src="assets/img/artimg/art (1).jpeg">
                    <div class="each_right_txt">
                      <p class="fc">山西所见---崛围山感受秋之美</p>
                      <p>时间：10月19日 地点：崛围山（太原市西北方向-呼延村） 人物：用字、于都、包子、阿紫、tiger......</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 each">
          <div class="row">
            <div class="col-lg-4 col-xs-4 each_left">
                <p class="type"><strong><strong>出游攻略</strong></strong></p>
                <p class="publicdate">发布时间：2017年9月16日</p>
                <p class="author">作者</p>
                <img src="assets/img/userImg/user01.jpeg">
                <p class="fc">暖暖的旅行</p>
            </div>
            <div class="col-lg-8 col-xs-8 each_right">
                <div>
                  <img src="assets/img/artimg/art (1).jpeg">
                  <div class="each_right_txt">
                    <p class="fc">山西所见---崛围山感受秋之美</p>
                    <p>时间：10月19日 地点：崛围山（太原市西北方向-呼延村） 人物：用字、于都、包子、阿紫、tiger......</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 each">
            <div class="row">
              <div class="col-lg-4 col-xs-4 each_left">
                  <p class="type"><strong><strong>出游攻略</strong></strong></p>
                  <p class="publicdate">发布时间：2017年9月16日</p>
                  <p class="author">作者</p>
                  <img src="assets/img/userImg/user01.jpeg">
                  <p class="fc">暖暖的旅行</p>
              </div>
              <div class="col-lg-8 col-xs-8 each_right">
                  <div>
                    <img src="assets/img/artimg/art (1).jpeg">
                    <div class="each_right_txt">
                      <p class="fc">山西所见---崛围山感受秋之美</p>
                      <p>时间：10月19日 地点：崛围山（太原市西北方向-呼延村） 人物：用字、于都、包子、阿紫、tiger......</p>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 each">
            <div class="row">
              <div class="col-lg-4 col-xs-4 each_left">
                  <p class="type"><strong><strong>出游攻略</strong></strong></p>
                  <p class="publicdate">发布时间：2017年9月16日</p>
                  <p class="author">作者</p>
                  <img src="assets/img/userImg/user01.jpeg">
                  <p class="fc">暖暖的旅行</p>
              </div>
              <div class="col-lg-8 col-xs-8 each_right">
                  <div>
                    <img src="assets/img/artimg/art (1).jpeg">
                    <div class="each_right_txt">
                      <p class="fc">山西所见---崛围山感受秋之美</p>
                      <p>时间：10月19日 地点：崛围山（太原市西北方向-呼延村） 人物：用字、于都、包子、阿紫、tiger......</p>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 each">
            <div class="row">
              <div class="col-lg-4 col-xs-4 each_left">
                  <p class="type"><strong><strong>出游攻略</strong></strong></p>
                  <p class="publicdate">发布时间：2017年9月16日</p>
                  <p class="author">作者</p>
                  <img src="assets/img/userImg/user01.jpeg">
                  <p class="fc">暖暖的旅行</p>
              </div>
              <div class="col-lg-8 col-xs-8 each_right">
                  <div>
                    <img src="assets/img/artimg/art (1).jpeg">
                    <div class="each_right_txt">
                      <p class="fc">山西所见---崛围山感受秋之美</p>
                      <p>时间：10月19日 地点：崛围山（太原市西北方向-呼延村） 人物：用字、于都、包子、阿紫、tiger......</p>
                    </div>
                  </div>
              </div>
            </div>
        </div> -->
       
      <!-- 具体细节结束 -->
      <!-- 加载更多 -->
      <div class="row">
        <div class="col-xs-12 col-lg-12 more">
          <a href="#" class="fc">加载更多......</a>
        </div>
      </div>
    </div>
  </div>
  
  
</div>
