.container-fluid{
    height: 58px;
    background: #2f2f2f;
    position: relative;
}
.txt{
    color:white;
    text-align: center;
    line-height: 58px;
    font-size: 12px;
}
.author{
    margin-left: 15px;
}
.bottom{
    color: #ff9d00;
    width: 42px;
    height: 42px;
    background: white;
    border-radius: 5px;
    position: absolute;
    left:90%;
    top:7%;
    text-align: center;
    line-height: 42px;
}