<div class="container all">
  <div class="row">
    <!-- 左侧开始 -->
    <div class="col-lg-3 col-xs-3">
      <div class="bs">
        <span class="glyphicon glyphicon-user"></span>&nbsp;<a href="#">我的信息</a>  
      </div>
      <div class="bs bactive">
        <span class="glyphicon glyphicon-facetime-video"></span>&nbsp;<a href="#">我的头像</a>
      </div>
      <div class="bs">
        <span class="glyphicon glyphicon-lock"></span>&nbsp;<a href="#">账号安全</a>
      </div>
    </div>
    <!-- 左侧结束 -->
    <div class="col-lg-9 col-xs-9">
        <div class="title">我的头像</div>
        <hr>
        <div class="userimg"> 
          <img src="assets/img/user.jpeg">
        </div>
        <div class="pull">上传图片</div>
        <hr>
    </div>
  </div>
</div>
