<div class="container all">
  <div class="row">
    <!-- 左侧开始 -->
    <div class="col-lg-3 col-xs-3">
      <div class="bs">
        <span class="glyphicon glyphicon-user"></span>&nbsp;<a routerLink="/userinfo">我的信息</a>  
      </div>
      <div class="bs bactive">
        <span class="glyphicon glyphicon-facetime-video"></span>&nbsp;<a routerLink="/userimg">我的头像</a>
      </div>
      <div class="bs">
        <span class="glyphicon glyphicon-lock"></span>&nbsp;<a routerLink="/usersafe">账号安全</a>
      </div>
    </div>
    <!-- 左侧结束 -->
    <div class="col-lg-9 col-xs-9">
        <div class="title">我的头像</div>
        <hr>
        <div class="userimg">
          <input #file type="file" style="display:none" ng2FileSelect [uploader]="uploader" (change)="selectFile($event)"> 
          <!-- <img src="assets/img/user.jpeg"> -->
          <img src="{{imgUrl}}" (click)="clickFile()">          
        </div>
        <div class="pull" (click)="doUpload()">上传图片</div>
        <hr>
    </div>
  </div>
</div>
