<div class="container-fluid">
  <!-- 头部标题 -->
  <div class="row">
    <div class="col-lg-12 col-xs-12 head">
      <img src="assets/img/youji/wKgBZ1lCLcSAJAcIAAYww7LcRBs97.jpeg">
      <div class="head_txt">
        <p>
          2017在夏天过春节，纯净新西兰14天2500公里自驾游
        </p>
        <p class="author">
          作者：喵喵
        </p>
      </div>
    </div>
  </div>
</div>
<!-- 内容部分 -->
<div class="container">
  <div class="row">
    <!-- 左侧 -->
    <div class="col-lg-8 col-md-8 col-xs-8">
      <!-- 左侧标题 -->
      <div class="left_title">
          2017在夏天过春节，纯净新西兰14天2500公里自驾游
      </div>
      <!-- 左侧内容start -->
      <div>
          <p class="_j_note_content _j_seqitem" style="margin-top: 0px; margin-bottom: 20px; padding: 0px; word-wrap: break-word; line-height: 28px; font-size: 15px; color: rgb(68, 68, 68); text-align: justify; word-break: break-all; font-family: Arial, &quot;Lucida Grande&quot;, &quot;Microsoft Yahei&quot;, &quot;Hiragino Sans GB&quot;, &quot;Hiragino Sans GB W3&quot;, SimSun, &quot;PingFang SC&quot;, STHeiti; white-space: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你知道吗？审美有一个阈值，一旦你到达那个点后，就很难对别的景色产生兴趣了。<br>曾经，我以为哈尔施塔特是人间最美的地方，直到我去过了新西兰南岛，哈尔施塔特在我心里真的黯然失色。<br>（以上仅代表个人观点）</p>
          <p>
            <img class="_j_lazyload" src="assets/img/youji/wKgBZ1lnLCuAGVQoACZW96OmPV854.jpeg" alt="">
          </p>
          <p><br></p>
          <p><span style="font-size: 22px;">D1：初识新西兰，基督城入门</span></p>
          <p class="_j_note_content _j_seqitem" style="margin-top: 0px; margin-bottom: 20px; padding: 0px; word-wrap: break-word; line-height: 28px; font-size: 15px; color: rgb(68, 68, 68); text-align: justify; word-break: break-all; font-family: Arial, &quot;Lucida Grande&quot;, &quot;Microsoft Yahei&quot;, &quot;Hiragino Sans GB&quot;, &quot;Hiragino Sans GB W3&quot;, SimSun, &quot;PingFang SC&quot;, STHeiti; white-space: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经过这几年锻炼，已经比较能适应长途飞行了。经过14小时的飞行，终于到达基督城。基督城机场并不大，出境卡要认真填写，不要带任何食物入境。使用过的户外设备（登山鞋、登山杖、帐篷等等都需要如实申报，并且在出发前清理干净上面的泥土砂石）。如果不小心带了食物，记得在下飞机前往入境处的地方就果断丢弃，一路上都有各种语言的提示，让你丢弃，非常重要，否则很有可能面临罚款甚至拒绝入境。<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出关后致电给我们的租车公司，接待员开车来接我们去机场附近的办公室办理
          租车手续。一路上给我们简单讲解了下交通规则。虽然来之前也有做功课以及在网上考试了交规，但是第一次右舵行驶还是相当不适应的。拿到车钥匙后，紧张的我们就开始了南岛的自驾之旅。<br><br>（通常最容易犯的错误就是转弯打雨刮、每天早上起来没完全睡醒的情况下容易逆行。）<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先去加了一次油，找了半天油箱盖在哪里打开也不知道，用蹩脚的英文求助加油站的小哥才顺利打开油箱盖。然后去了一趟超市，采购南岛所需的调料和简单的生活用品，接着就去酒店办理入住了。谁知到了酒店，被告知今晚因为工作疏漏酒店已经满房了，让我们到另外一个酒店办理入住。<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;没想到因祸得福，后面去的这家酒店，前台是个华人妹子，中文~哈哈。房间挺大，有炉灶可以自己烧饭，好评！如果再来，一定要再住这家酒店。<br>安顿好之后，出门逛逛。基督城本身不大，用脚便可以丈量。<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;晚上7点来钟，太阳高照，路上商店已经都关光了，行人也不多。偶尔路边有树下乘凉的当地人。KIWI的夜生活实在很匮乏啊~</p>
          <p><br></p>
      </div>
       <!-- 左侧内容end -->
       <!-- 左侧回复留言 -->
       <div>
          <div class="left_response">
              回复游记
          </div>
          <textarea></textarea>
          <div class="pull-right left_btn" (click)="toDoReplay()">发表回复</div>
       </div>
    </div>
    <!-- 右侧 -->
    <div class="col-lg-4 col-md-4 col-xs-4">
         <!-- 右侧标题 -->
      <div class="right_title">
        留言评论
      </div>
      <div>
        <!-- 每一个评论开始 -->
        <div class="each">
          <div class="each_head">
            <img src="assets/img/userImg/user01.jpeg" >
            <span class="each_author">芝麻</span>
            <span class="each_date pull-right">2017年9月22日00:13:40</span>
          </div>
          <div class="each_txt">
              你知道吗？审美有一个阈值，一旦你到达那个点后，就很难对别的景色产生兴趣了。
          </div>
        </div>
        <!-- 每一个评论结束 -->
        <div class="each">
            <div class="each_head">
              <img src="assets/img/userImg/user01.jpeg" >
              <span class="each_author">芝麻</span>
              <span class="each_date pull-right">2017年9月22日00:13:40</span>
            </div>
            <div class="each_txt">
                你知道吗？审美有一个阈值，一旦你到达那个点后，就很难对别的景色产生兴趣了。
            </div>
        </div>
        <div class="each">
            <div class="each_head">
              <img src="assets/img/userImg/user01.jpeg" >
              <span class="each_author">芝麻</span>
              <span class="each_date pull-right">2017年9月22日00:13:40</span>
            </div>
            <div class="each_txt">
                你知道吗？审美有一个阈值，一旦你到达那个点后，就很难对别的景色产生兴趣了。
            </div>
        </div>
        <div class="each">
            <div class="each_head">
              <img src="assets/img/userImg/user01.jpeg" >
              <span class="each_author">芝麻</span>
              <span class="each_date pull-right">2017年9月22日00:13:40</span>
            </div>
            <div class="each_txt">
                你知道吗？审美有一个阈值，一旦你到达那个点后，就很难对别的景色产生兴趣了。
            </div>
        </div>
        <div class="each">
            <div class="each_head">
              <img src="assets/img/userImg/user01.jpeg" >
              <span class="each_author">芝麻</span>
              <span class="each_date pull-right">2017年9月22日00:13:40</span>
            </div>
            <div class="each_txt">
                你知道吗？审美有一个阈值，一旦你到达那个点后，就很难对别的景色产生兴趣了。
            </div>
        </div>
      </div>
     
    </div>
  </div>
</div>
<!-- assets/img/youji/wKgBZ1lnLCuAGVQoACZW96OmPV854.jpeg -->