
<app-head></app-head>
<!-- <app-tourindex></app-tourindex> -->
<!-- <app-tourdetail></app-tourdetail> -->
<!-- <app-addtour></app-addtour> -->
<!-- <app-addcompany></app-addcompany> -->
<!-- <app-companydetail></app-companydetail> -->
<!-- <app-companyindex></app-companyindex> -->
<!-- <app-userimg></app-userimg> -->
<!-- <app-userinfo></app-userinfo> -->
<!-- <app-usersafe></app-usersafe> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <app-login></app-login> -->
<!-- <app-regist></app-regist> -->
