<div class="container all">
  <div class="row">
    <!-- 左侧开始 -->
    <div class="col-lg-3 col-xs-3">
      <div class="bs bactive">
        <span class="glyphicon glyphicon-floppy-open"></span>&nbsp;<a href="#">我的游记</a>  
      </div>
      <div class="bs ">
        <span class="glyphicon glyphicon-floppy-open"></span>&nbsp;<a href="#">我的结伴</a>
      </div>
    </div>
    <!-- 左侧结束 -->
    <div class="col-lg-9 col-xs-9">
        <div class="title">我的游记</div>
        <hr>
        <div class="row each">
          <div class="col-xs-3 col-lg-3 each_img" >
            <img src="assets/img/youji/wKgBZ1lnLCuAGVQoACZW96OmPV854.jpeg" alt="">
          </div>
          <div class="col-xs-9  ">
            <p>2017在夏天过春节，纯净新西兰14天2500公里自驾游</p>
            <button class="btn pull-right">修改</button>
            <button class="btn pull-right">删除</button>
          </div>
        </div>
        <hr>
    </div>
  </div>
</div>
